body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#playground {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.score {
  z-index: 2;
  position: absolute;
  top: 10px;
  font-weight: bold;
  font-size: 32px;
}

#score1 {
  left: 20px;
  color: red;
}

#score2 {
  right: 20px;
  color: blue;
}

#time {
  color: black;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 200px;
}
